/* Importing FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Freckle+Face&display=swap');
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #ECEEF3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* White card */
.container {
  background: #ffffff;
  padding: 40px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
}

h2 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

/* Inputs */
.input-group {
  text-align: left;
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

/* Button using the blue from your image */
.btn {
  width: 100%;
  padding: 14px;
  background-color: #4B5E94;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.9;
}

/* Login link */
.login-text {
  margin-top: 18px;
  font-size: 14px;
}

.login-text a {
  color: #4B5E94;
  text-decoration: none;
}
