@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Freckle+Face&display=swap');
:root {
    --grey: #515151;
    --second-grey: #555B55;

    --light-blue: #F4F7FE;
    --lavender: #FBF0F8;
    --light-green: #E6F6E6;

    --blue: #4A5F91;
    --blue10percent: #ffffffb3;
    --green: #C7EFCF;
    --brown: #6F460C;
    --pink: #FBF0F8;
    --light-brown: #F6F4E6;

    --screen-heigth: 100vh;

    --big--heading: 45px;
    --medium-heading: 25px;
    --small-heading: 12px;
}
html {
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}
body {
    margin: 0;
    background-color: white;
}
/* NAVIGATION BAR */
nav {
    margin: 0px 30px ;
    padding: 5px 15px;
    background-color: var(--blue10percent);
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    position: sticky;
    top: 0;
    z-index: 2;
    transform: translateY(15px);

    backdrop-filter: blur(40px);
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.37); 
}
/* ------------- */
.logo_area {
    z-index: 2;
    width: fit-content;
    height: 65px;
    box-sizing: border-box;
}
.logo_area img {
    width: auto;
    height: 100%;
    opacity: .8;
    aspect-ratio: 1/1;
}
/* -------------- */
.nav-links {
    display: flex;
    padding: 5px;
}
.nav-menu {
    display: flex;
    align-items: center;
    margin: 0;
}
.nav-menu li {
    display: inline;
    margin: 0 1.5rem;
    transition: transform .2s;
}
.nav-menu a {
    color: var(--grey);
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: color .2s;
}
.nav-menu li:hover a{
    color: #3B4F81 ;
}
.nav-menu li:hover {
    transform: scale(1.05);
}
/* ------------------ */
.language-btn {
    background-color: var(--grey);
    border-radius: 15px;
    padding: 5px 15px;
    height: fit-content;
    margin: auto 20px;
    margin-right: 25px;
}
.language-btn a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.language-btn:hover {
    box-shadow: 0 0 5px grey;
    transition: box-shadow .2s;
}
/* ------------------- */
.login-icon {
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    cursor: pointer;
    transition: box-shadow .2s;
}
.login-icon i{
    font-size: 30px;
}
.login-icon:hover {
    box-shadow: -1px -1px 8px lightgray;
}
.login-icon:hover .drop-menu{
    display: block;
}
/* ------------------- */
.drop-menu {
    position: fixed;
    width: 15%;
    right: 30px;
    top: 110px;
    background-color: var(--blue10percent);
    min-width: 150px;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    display: none;
}
.drop-menu a {
    display: block;
    color: var(--grey);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
}
.drop-menu a:hover {
    background-color: var(--blue);
    color: var(--light-blue);
}
.holder {
    position: absolute;
    width: 100%;
    height: 30%;
    top: -30%;
    color: transparent;
}
/* ----------------------------------- */

/* Main section */
#hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 2.5rem;
    height: var(--screen-heigth);
}
.texts{
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    margin-left: 10%;
}
.texts h1 {
    margin: 0;
    font-size: 48px;
    opacity: .9;
}
.texts p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    color: var(--grey);
}
.heroimage-container {
    grid-row: 1/3;
    margin: auto 0;
}
.heroimage-container img {
    height: 500px;
    margin-top: 70px;
}
.pbtn {
    background-color: var(--blue);
    color: var(--light-blue);
    width: 25%;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}
.pbtn:hover {
    background-color: var(--light-blue);
    color: var(--blue);
}


/* Main section */
#plans-section h1 {
    font-size: var(--big--heading);
    color: var(--light-blue);
    text-align: center;
    background: var(--grey);
    margin: 0;
    padding-top: 100px;
    font-weight: 600;

}
.cards_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--grey);
    gap: 6%;
    padding: 4rem 5rem;
    justify-items: center;
    align-items: center;
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    transition: transform .5s;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}
.top-bar {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 50px;
    justify-self: center;
    position: relative;
}
.green{background-color: var(--green); color: var(--second-grey);}
.blue{background-color: var(--blue); color: var(--light-blue);}
.pink{background-color: var(--pink); color: var(--grey);}
.bar-text {
    margin: 0;
    padding: 8px 10px;
    font-weight: 600;
    text-align: center;
    font-size: var(--medium-heading);
}
.price {
    font-size: 60px;
    margin: 15% 0px 5%;
    font-weight: 500;
}
/* .mini-text {
    font-size: var(--small-heading);
    color: grey;
    margin: 0;
    transform: translate(150%, -280%);
} */
.benefits {
    font-weight: 500;
    margin: 0;
}
.highlighted {
    height: 110%;
    width: 105%;
}
.card ul {
    list-style-type: none;
    padding: 0px 75px;
    text-align: center;
    margin: 5px 0 20px;
}
.card li {
    padding: 10px 0;
    opacity: .8;
    font-size: 16px;
}
.btn {
    text-decoration: none;
    padding: 15px;
    background-color: var(--grey);
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}


/* FOOOOTERRR */
footer {
  background: var(--grey);
  background-color: var(--light-blue);
  color: var(--light-blue);
  color: var(--grey);
  text-align: center;
  padding: 30px 15px;
}
footer h2 {
  margin: 0 0 15px;
}
.footer-nav {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}
.footer-nav li {
  display: inline-block;
  margin: 0 15px;
  transition: transform .1s;
}
.footer-nav li:hover {
  transform: scale(1.05);
}
.footer-nav a {
  color: var(--lavender);
  color: var(--second-grey);
  text-decoration: none;
}
.social-icons {
  margin: 15px 0;
}
.social-icons a {
  display: inline-block;
  font-size: 18px;
  margin: 0 10px;
  width: 35px;
  /* height: 35px; */
  line-height: 35px;
  border-radius: 50%;
  color: var(--light-blue);
  color: var(--grey);
  text-align: center;
  text-decoration: none;
  transition: background .2s, color .2s;
}
.social-icons a:hover {
  background: var(--light-blue);
  background-color: var(--grey);
  color: var(--blue);
  color: var(--light-blue);
}
.copyright {
  margin-top: 15px;
  font-size: 12px;
}